@import url(//fonts.googleapis.com/css?family=Acme);

body {
  overflow-x: hidden;
  width: 100%;
  height: 400px;
  background-size: cover;
  margin: 0;
  background-color: #eb8c34;
}
img {
  width: 100%;
  height: auto;
}
table, th, td {
  border: 1px solid black;
  font-family: 'Quicksand', sans-serif;
}
table {
  border-spacing: 2px;
}
th, td {
  padding: 5px;
}
ul {
  font-family: 'Quicksand', sans-serif;
}
div {
  width: 100vw;
}
table {
  width: calc(100%/20px);
  margin: auto;
}
.TFtable{
  /*width:100%;*/
  border-collapse:collapse;
}
.TFtable td{
  padding:7px; border:#4e95f4 1px solid;
}
/* provide some minimal visual accomodation for IE8 and below */
.TFtable tr{
  background: #b8d1f3;
}
/*  Define the background color for all the ODD background rows  */
.TFtable tr:nth-child(odd){
  background: #b8d1f3;
}
/*  Define the background color for all the EVEN background rows  */
.TFtable tr:nth-child(even){
  background: #dae5f4;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* Style the close button */
.topright {
  float: right;
  cursor: pointer;
  font-size: 28px;
}

.topright:hover {
  color: red;
}
